
.ProductFilter {
     height:700px;
     width: 20%;
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif

}
.panel-body {
    padding: 10px;

}
.ProductFilter__section-container {
    margin-bottom: 20px;
}
.ProductFilter__section-container label {
    display: block;
}
.ProductFilter__section-container select
{
    min-height: 30px;
    min-width: 210px;
    border: 1px solid #ddd;
    outline: none;
}

.ProductFilter__section-container select:focus
{
    border: 1px solid darkred;
}

.pve_filterWrapper{
    width: 250px;
    float: left;
    margin-right: 20px;
}

.pve_resultWrapper{
    width: 900px;
    float: left;
}

.total_tests{
    width: 150px;
    float: left;
    height:50px;
    margin-right: 20px;
    border: 1px solid blue;
    font-size: 20px;
    background-color:dodgerblue;


}
.table_pass{
    width: 150px;
    float: left;
    height:50px;
    margin-right: 20px;
    border: 1px solid green;
    background-color: forestgreen;
    font-size: 20px;


}
.table_fail{
    width: 150px;
    height:50px;
    float: left;
    margin-right: 20px;
    border: 1px solid darkred;
    background-color: crimson;
    font-size: 20px;

}

.failed_status {
        font-size: 20px;
        float:right;

}

.passed_status {
    font-size: 20px;
        float:right;
}

.total_status {
    font-size: 20px;
        float:right;
}

