
.ProductFilter {
     height:700px;
    width: 20%;
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif

}
.panel-body {
    padding: 10px;

}
.ProductFilter__section-container {
    margin-bottom: 20px;
}
.ProductFilter__section-container label {
    display: block;
}
.ProductFilter__section-container select
{
    min-height: 30px;
    min-width: 360px;
    border: 1px solid #ddd;
    outline: none;
}

.ProductFilter__section-container select:focus
{
    border: 1px solid darkred;
}
